@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&family=Signika:wght@300..700&display=swap');

* {
    padding: 0;
    list-style: none;
    font-family: "Signika", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.034);
}

::selection {
    color: #fff;
    background-color: #0000004d;
}

body {
    background-color: #000;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.home video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    filter: brightness(0.5);
    top: 0;
}

.home div {
    margin-top: 18%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Signika", sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000;
    justify-content: center;
    align-items: center;
    animation: textUp 2.4s ease-out;
}



@keyframes textUp {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    40% {
        opacity: 0.2;
        transform: translateY(-10%);
    }

    50% {
        opacity: 0.3;
    }

    70% {
        opacity: 0.7;
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.home div h1 {
    font-size: 4rem;
    margin-bottom: 2px;
}

.home div p {
    font-size: 2rem;
    /* font-family: "Libre Barcode 39 Extended Text", system-ui; */
}

.home div button {
    padding: 10px;
    background-color: #0000004d;
    backdrop-filter: blur(3.5px);
    border: 1px solid #fff;
    color: #fff;
    border-radius: 12px;
    font-size: 1.3rem;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Signika", sans-serif;
    width: 24%;
    text-align: center;
}

.home div button:hover {
    transform: scale(1.07);
    transition: all 0.7s;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000050;
    backdrop-filter: blur(7px);
    position: fixed;
    width: 75%;
    color: #fff;
    text-transform: uppercase;
    border-radius: 19px;
    padding: 0 40px;
    left: 50%;
    transform: translateX(-50%);
}

.brand {
    font-size: 1.5rem;
    margin-right: auto;
    cursor: pointer;
}

.navbar img {
    width: 40px;
    height: 40px;
    margin-right: 14px;
    border: 1px solid #00000079;
    border-radius: 50%;
    cursor: pointer;
}

.nav-list ul {
    display: flex;
    gap: 20px;
}

.nav-list ul li a {
    margin-left: 10px;
    color: #fff;
    font-size: 1.34rem;
    text-decoration: none !important;
    position: relative;
}

.nav-list ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.nav-list ul li a:hover::after {
    width: 100%;
}

.nav-list ul li a.active::after {
    width: 100%;
}

.nav-toggler {
    font-size: 1.72rem;
    cursor: pointer;
    display: none;
    padding: 10px;
    margin-left: auto !important;
}

@media(max-width: 1310px) {

    .brand {
        font-size: 1.45rem;
    }

    .navbar img {
        width: 36px;
        height: 36px;
    }

    .nav-list ul li a {
        font-size: 1.3rem;
    }
}

@media(max-width: 1200px) {

    .brand {
        font-size: 1.31rem;
    }


    .navbar img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }

    .nav-list ul li a {
        font-size: 1.27rem;
    }
}

@media (max-width: 1098px) {
    .nav-list {
        display: none;
    }

    .home div {
        animation: none;
    }

    .navbar img {
        width: 34px;
        height: 34px;
        margin-right: 10px;
    }

    .brand {
        font-size: 1.4rem;
    }

    .nav-toggler {
        display: flex;
        padding: 13.5px;
        z-index: 100000;
    }

    .navbar img {
        margin-left: 40px !important;
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: -10px;
        right: -104px;
        height: 100vh;
        width: 68%;
        background-color: #000000;
        border-radius: 2px;
        padding: 20px;
        z-index: 1000;
        justify-content: center;
        align-items: center;
        animation: slideRight 0.5s ease;
    }

    .nav-list ul {
        display: block;
    }

    #join-btn.noblur {
        backdrop-filter: none;
    }

    #join-btn.noblur:hover {
        transform: none;
    }

    .nav-list ul li {
        margin: 67px 0;
    }

    .nav-toggler #open-btn.unactive {
        opacity: 0;
    }

    .nav-toggler #close-btn {
        display: none;
    }

    .nav-toggler #close-btn.active {
        display: flex;
    }

}

@keyframes slideRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@media(max-width: 835px) {

    .nav-list.active {
        right: -65px;
        height: 100vh;
        width: 62%;
    }
}

@media(max-width: 640px) {

    .nav-list.active {
        width: 68%;
    }
}

@media(max-width: 550px) {

    .nav-list.active {
        width: 78%;
    }
}


@media(max-width: 449px) {

    .nav-list.active {
        width: 87%;
    }
}

@media(max-width: 415px) {
    .nav-list.active {
        width: 96%;
    }
}


.tracker {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #0000007c;
    backdrop-filter: blur(9px);
    border: 1px solid #e7f7ff48;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(228, 228, 228, 0.1);
}

#tracker-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="number"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

label {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

#calculate-btn {
    padding: 13px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 27px 0;
    transition: background-color 0.3s ease;
}

#calculate-btn:hover {
    background-color: #0056b3;
}

#calculate-btn,
#reset-btn {
    text-transform: uppercase;
    font-size: 1.15rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset-btn {
    width: 20%;
    margin-top: -20px;
    background: none;
    border: 1px solid #ff1414;
    padding: 5px;
    border-radius: 7px;
    color: #ff1414;
}

#result {
    margin-top: 20px;
    padding: 17px;
    background-color: #00000049;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    display: block;
    height: 160px;
    transition: all 0.74s;
    color: #fff;
    text-align: center;
}

#result.show {
    background-color: #e7f7ff;
    border: 1px solid #b3e0ff;
    color: #333;
    padding: 15px;
    text-align: left;
    font-size: 1.1rem;
}

select {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .tracker {
        width: 90%;
        margin: 20px auto;
    }

    label,
    input[type="number"],
    select {
        font-size: 1rem;
    }

    #calculate-btn {
        font-size: 1rem;
    }
}

#gender label img {
    width: 54px;
    height: 54px;
    border-radius: 15%;
    margin: 1px 5px;
    object-fit: cover;
    border: 2.5px solid #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

#radio-male:checked+label img,
#radio-female:checked+label img,
#radio-random:checked+label img {
    border: 2.5px solid #0046af;
}